<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fupm.skeb.androidclient" >
    android:versionCode="1"
    android:versionName="1.0"
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/myTheme2" >
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <data android:scheme="vk4902610" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ListGame"
            android:label="@string/title_activity_list_game"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fupm.skeb.androidclient.MainActivity" />
        </activity>
        <activity
            android:name=".GameOnline"
            android:label="@string/title_activity_game_online"
            android:parentActivityName=".ListGame"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fupm.skeb.androidclient.ListGame" />
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fupm.skeb.androidclient.MainActivity" />
        </activity>
        <activity
            android:name=".Online"
            android:label="@string/title_activity_online"
            android:parentActivityName=".ListOnlineGame"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fupm.skeb.androidclient.ListOnlineGame" />
        </activity>
        <activity
            android:name=".ListOnlineGame"
            android:label="@string/title_activity_list_online_game"
            android:parentActivityName=".ListGame"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fupm.skeb.androidclient.ListGame" />
        </activity>
        <activity
            android:name=".Background"
            android:label="@string/title_activity_background"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fupm.skeb.androidclient.MainActivity" />
        </activity>
        <activity
            android:name=".Rules"
            android:label="@string/title_activity_rules"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fupm.skeb.androidclient.MainActivity" />
        </activity>
    </application>

</manifest>
